#tabla_reservalo thead tr th {
    background-color: blue;
    color: white;
    font-weight: bold;
}

#input_buscar_reservalo {
    padding: 10px;
    width: 50%;
}

#btn_buscar_reservalo {
    padding: 10px;

}

.woocommerce-shipping-fields,
.woocommerce-additional-fields,
.woocommerce-form-coupon-toggle {
    display: none !important;
}

#coupon_code,
button[name="apply_coupon"] {
    display: none !important;
}

.ocultar-campos{
    display: none !important;
}
  